#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.crossword-container {
  height: auto;
  width: auto;
  display: grid;
}

.crossword-input-box-black {
  background-color: black;
  border: 0px;
}

.crossword-input-box {
  height: 40px;
  width: 40px;
  text-align: center;
  caret-color: transparent;
  font-size: xx-large;
}

.crossword-clues-title {
  font-size: 20px;
  font-weight: bold;
}

.crossword-clues-clue {
  margin-top: 2px;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid pink;
  text-align: center;
  color: white;
  outline: none;
  font-size: xx-large;
}

.cell-number {
  height: 10px;
  width: 10px;
  font-size: small;
  position: relative;
  top: 10px;
  left: 0px;
}
